body{
	background-image: url("../images/bk3.jpg");
	background-size: 1350px 800px;
	background-repeat: no-repeat;
}
/*header*/
.header{
	position: fixed;
	width: 100%;
	background-color: #00b386;
	padding-top: 5px;
	padding-bottom: 7px;
}
.logo{
	display: inline-block;
	margin-left: 20px;
	vertical-align: middle;
	color: white;
}
.nav{
	display: inline-block;
	margin-left: 400px;
}
.nav-li{
	display: inline-block;
	vertical-align: middle;
	font-size: 19px;;
    margin-right: 45px;
}

.navi{
	color: black;
	padding: 5px;

	transition-property: all;
	transition-duration: 0.3s;
}
.icon1{
	height: 40px;
	width: 40px;
	display: inline-block;
	margin-left: 190px;
}
/*section*/
.fb {
	position: fixed;
	top: 550px;
	left: 1220px;
}
.inst {
	position: fixed;
	top: 550px;
	left: 1120px;
}
.animation {
	background-color: black;
	height: 40px;
	width: 100%px;
	position: relative;
}
.sale {
	font-size: 40px;
    animation: reklama 5s infinite alternate;
    position: absolute;
    color: grey;
}
.walcome{
	color: white;
	margin-top: 200px;
	margin-left: 200px;
	font-size: 55px;
}
/*footer*/
.footer{
	margin-top: 490px;
	height: 300px;
	width: 100%;
	background-color: #343a40;
	position: absolute;
}
.social-block{
	height: 200px;
	width: 200px;
	position: absolute;
	/*background-color: black;*/
	margin-left: 240px;
	margin-top: 80px;
}
.media{
	margin-bottom: 14px;
	margin-left: 22px;
	position: relative;
	font-size: 15px;
	color: white;
}
.ft-fb{
    font-size: 17px;
    color:#1a1a1a;
}
.soc{
	padding-bottom: 5px;
    margin-left: 22px;
    margin-bottom: 3px;
}
/*profile page*/
.pf-body{
	background-image: none;
	background-color: gray;
}
/*hover*/
.navi:hover {
    background-color: black;
    border-color: gray;
    border-radius: 15px;
    border-width: 0.5px;
    color: white;
}
@keyframes reklama {
    0% {left: 0px;}
    100% {left: 1200px;}
}